body {
    background: #f97316;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background: white;
    padding: 30px;
    border-radius: 12px;
}
